<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>博信家园</title>
</head>

<body>
<table width="100%" align="center">
    <tr>
        <td width="50%" style="float: left;margin: 0px;padding: 0px;">
            <table id="t_buy">
                <tr>
                    <td>购买信息</td>
                </tr>
                <tr>
                    <td><input type="radio" name="activity" value="男"></td>
                    <td width="50%">管理员17512581918</td>
                    <td width="30%">一直</td>
                    <td width="20%">任意</td>
                </tr>
                <tr>
                    <td><input type="radio" name="activity" value="男"></td>
                    <td width="50%">张三1472583698</td>
                    <td width="30%">2019-3-23</td>
                    <td width="20%">5000</td>
                </tr>
            </table>
        </td>
        <td width="50%" style="float: right;margin: 0px;padding: 0px;">
            <table id="t_sell">
                <tr>
                    <td>出售信息</td>
                </tr>
                <tr>
                    <td><input type="radio" name="activity" value="男"></td>
                    <td width="50%">管理员17512581918</td>
                    <td width="30%">一直</td>
                    <td width="20%">任意</td>
                </tr>
                <tr>
                    <td><input type="radio" name="activity" value="男"></td>
                    <td width="50%">李四12345678910</td>
                    <td width="30%">2019-1-20</td>
                    <td width="20%">1000</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div><button onclick="addMatch()">确认匹配</button></div>
</body>
</html>
<script type="text/javascript" src="../../static/js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../static/js/audit.js"></script>