<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic balance</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/Dynamicbalance.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <script src="../static/js/jquery-1.12.4.js"></script>
    <script>
        $(document).ready(function () {
            var td = $("td");
            for (var i=0;i<td.length;i++) {
                var reg = new RegExp("^[a-z0-9+]+$","g")
                if(reg.test(td.eq(i).text())){
                    td.eq(i).css("color","#0F9E49")
                }
            }
        });
        if (/(Android|iPhone|iPad|iPod)/i.test(navigator.userAgent)) {
            console.log("yd");
            var pageWidth = window.innerWidth; //浏览器视口
            console.log(pageWidth);
            document.write('<style>html{font-size:' + pageWidth + 'px}</style>')
        } else {
            console.log("pc");
            var pageWidth = window.innerWidth*0.6;
            console.log(pageWidth);
            document.write('<style>html{font-size:' + 500+ 'px}</style>')

        };

    </script>
</head>
<body style="background-color: #F6F6F6;">
<div id="head">
    <img src="../static/img/back_defult.png" alt=""> <span>动态余额</span>
</div>
<div id="table-box">
    <table>
        <tr>
            <th>时间</th>
            <th>类别</th>
            <th>金额</th>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>一代管理奖</td>
            <td>+5000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>提现</td>
            <td>-50000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>一代管理奖</td>
            <td>+5000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>提现</td>
            <td>-50000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>一代管理奖</td>
            <td>+5000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>提现</td>
            <td>-50000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>一代管理奖</td>
            <td>+5000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>提现</td>
            <td>-50000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>一代管理奖</td>
            <td>+5000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>提现</td>
            <td>-50000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>一代管理奖</td>
            <td>+5000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>提现</td>
            <td>-50000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>一代管理奖</td>
            <td>+5000</td>
        </tr>
        <tr>
            <td>2019-03-31 23:15:19</td>
            <td>提现</td>
            <td>-50000</td>
        </tr>
    </table>
</div>
</body>
</html>